.card {
  padding: 20px 0;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card_bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img {
  flex: 1 1 clamp(320px, 30vw, 500px);

  img {
    min-width: 320px;
    max-width: 100%;
  }
}
.address {
  font-size: 18px;
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.link {
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #484283;
  padding: 12px 22px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    background-color: #36306b;
  }
}
.masters_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.booking_form {
  flex: 1 1 200px;
  .field {
    display: flex;
    gap: 4px;
    flex-direction: column;
    margin-bottom: 8px;
  }
  .field_date {
    height: 60px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    margin-bottom: 8px;
  }
  .title {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 20px;
  }

  .form_group {
    max-width: 400px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
  }

  select,
  input[type="date"],
  input[type="time"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #36306b;
    }
  }

  .submit_button {
    margin-top: 4px;
    width: 100%;
    padding: 10px 15px;
    background-color: #484283;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #36306b;
    }
  }
}
